.item {
  flex-basis: 22%;
  background-color: #f76c6c;
	display: flex;
	flex-direction: column;
	list-style: none;
  box-sizing: border-box;
	margin: 1rem;
  border: 1px solid #eee;
  box-shadow: 0 10px 28px -7px rgba(0,0,0,0.1);
}

.description {
	display: flex;
  flex-grow: 1;
	flex-direction: column;
  justify-content: space-between;
	padding: 10px;
}

.description h2 {
	color: white;
  size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
